// Fuentes

$fuentePrincipal: 'Work Sans', sans-serif;

// Colores
$azul: #0da6f3;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;


$separacion: 5rem;


// Fuentes
$delgada:300;
$regular:400;
$grande:700;
$bold: 900;
