.paginacion{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;

    margin: 2rem 0;
    button{
        padding: 1rem 2.3rem;
        border-style: none;
        border-radius: .2rem;
        color: $blanco;
        background-color: $azul;
        font-size: 1.3rem;
        font-weight: $bold;
        &.ocultar{
            visibility: hidden;
        }
        &:hover{
            cursor: pointer;
            filter: brightness(.7);
        }
    }
    
}
